<div class="bg-dark">
<br><br><br>

<div id="c1" class="container   text-center card col-md-4"><strong>Gestion de recrutement</strong>
    <br>  <br>
    Dans le cadre de projet d'intégration <br>nous avons développer pour vous une application web pour 
   vous aidez les candidats à postuler dans différent annonce d'emploi et les RHs de trouver les meilleurs candidats facilement<br>
   <br><br>
    Realiser par :<br>
    <strong>
        
        AYARI Oussema - DHAKLI Wiem<br>
        EL FIDHA Ons - AKROUT Mohamed<br>
        DSI301
    </strong>
    </div>
<br><br><br><br><br><br></div>