<!-- Animated navbar-->
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
  <div class="container-fluid">
    <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add_candidat"  >candidat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add_annonce"  >annonce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about_us" >about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profils" >liste</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item">{{ this.email }}</a></li>
            <div class="dropdown-divider"></div>
            <li><button class="dropdown-item" (click)="logout()">Se Déconnecter</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>