<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">S'inscrire</h3>
  
                  <form (ngSubmit)="submit()" [formGroup]="form">
  

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div>
                          <label class="form-label" for="nom">Nom de la Societé</label>
                          <input type="text" name="nom" formControlName="nom" class="form-control form-control-lg"/> 
                                      
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="email">Address mail</label>
                          <input type="email" name="email" formControlName="email" class="form-control form-control-lg"
                           />
                          
                        </div>
                      </div>
                    </div>


                 




                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="domaine">Domaine  métier</label>
                          <input type="text" name="domaine" formControlName="domaineMetier" class="form-control form-control-lg"/>
                          +
                        </div>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="adresse">Adresse</label>
                          <input type="text" name="adresse" formControlName="adresse" class="form-control form-control-lg"/>
                          
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="tel">Télephone</label>
                          <input type="tel" name="tel" formControlName="tel" class="form-control form-control-lg"/>
                          
                        </div>
                      </div>
                    </div>




  
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="password">Mot de Passe</label>
                          <input type="password" name="password" formControlName="password" class="form-control form-control-lg"
                            />
                          
                        </div>
                      </div>
                    </div>
  



                    




                    <div class="d-flex justify-content-end pt-3">
                      <button type="submit" class="btn btn-warning btn-lg ms-2">Connexion</button>
                    </div>
                  </form>
                  <div class="alert alert-success" *ngIf="isSuccessful">
                    Your registration is successful!
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>