
    <div class="container py-5 h-100">
      <h1 class="text-center">Profils</h1>
      <table class="table">
        <thead>
          <tr>
          
            <th>Nom</th>
            <th>email</th>
            <th>Linked In</th>
            <th>PieceJointe</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cond of condidats">
          
            <td>{{cond.nom}}</td>
            <td>{{cond.email}}</td>
            <td>{{cond.linkedIn}}</td>
            <td><a href="#">{{cond.file}}</a></td>
            <td><button class="btn btn-danger " (click)="Accepter(cond)">Accepter</button>
              <button class="btn btn-danger " (click)="refuser(cond)">refuser</button></td>
          </tr>
        </tbody>
      </table>
    </div>
