<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="jumbotron">
            <div class="container" style="position: absolute;top: 100px;">
                <h1 class="display-3">Être Parmis Nous!</h1>
                <!-- <p>Editeur et intégrateur des solutions financières depuis 1994, BFI est partenaire stratégique pour vous accompagner pour la modernisation de votre système d’information.</p> -->
                <p><a routerLink="/form" role="button">Postuler</a>
                    <a routerLink="/about_us" role="button" style="vertical-align:middle"><span>Details</span></a>
                </p>
            </div>
        </div>
    </div>

</main>